<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="main.css" >
</head>
<body>
    <h1>CVE LIST</h1>
    <p><strong>Total Results : </strong> <%=info.totalResults %></p>
    <table>
        <tr>
            <th><a onclick="sortColumn('id')" class="sortable">CVE ID <span id="idSortIcon"></span></a></th>
            <th><a>Source Identifier </a></th>
            <th><a onclick="sortColumn('publishedDate')" class="sortable">Published Date <span id="publishedDateSortIcon"></span></a></th>
            <th><a onclick="sortColumn('lastModified')" class="sortable">Last Modified Date <span id="lastModifiedSortIcon"></span></a></th>
            <th><a>Status</a></th>
        </tr>

        <% for(v of data){ %>
            <tr onclick="handleClick('<%=v.id %>')"><a href="/cves/<%= v.id %>">
                <td><%= v.id %></td>
                <td><%= v.sourceIdentifier %></td>
                <td><%= v.published.toLocaleString() %></td>
                <td><%= v.lastModified.toLocaleString() %></td>
                <td><%= v.vulnStatus %></td>
                </a>
            </tr>
       <% } %>

    </table>

    <div class="resultsPerPage">
        <a> Results Per Page : </a>
        <select onchange="changeResultsPerPage(this.value)" id="resultsPerPageSelect">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>


    <div class="pagination">
        <% if (pageNo==1) { %>
         <button onclick="prevPage()" disabled> Prev</button>
         <% } else { %>
            <button onclick="prevPage()"> Prev</button>
        <% } %>
        <button><%= parseInt(pageNo) %></button>
        <% for( let index = parseInt(pageNo)+1; index < parseInt(pageNo)+5 && index<= Math.ceil(info.totalResults/resultsPerPage); index++ ) { %>
            <button onclick="pagination('<%= index %>')"><%= index %></button>
        <% } %>
        <% if(pageNo>=Math.ceil(info.totalResults/resultsPerPage)) {%>
            <button onclick="nextPage()" disabled>Next</button>
        <% } else { %>
            <button onclick="nextPage()">Next</button>
        <% } %>
    </div>


    
    <script>

        async function handleClick(id){
            window.location.href=`/cves/${id}`;
        }
        console.log(window.location);

        const currentUrl = new URL(window.location.href);
    
        // Get the value of the resultsPerPage query parameter
        const resultsPerPage = currentUrl.searchParams.get('resultsPerPage');
    
        // Set the selected value of the select element
        if (resultsPerPage) {
            document.getElementById('resultsPerPageSelect').value = resultsPerPage;
        }

        function changeResultsPerPage(value){
            currentUrl.searchParams.set('resultsPerPage',value);
            window.location.href=currentUrl;
        }



        const sortAttribute = currentUrl.searchParams.get('sort') || 'publishedDate';
        const sortMode = currentUrl.searchParams.get('sortMode');
        if(!sortMode){
            sortMode=1;
        }
        console.log(sortMode);

        const sortIconElement = document.getElementById(`${sortAttribute}SortIcon`);
        if (sortIconElement) {
                sortIconElement.innerHTML = (sortMode == 1 ? '▲' : '▼');
        }

        function sortColumn(column) {
            if(column != sortAttribute){
                currentUrl.searchParams.set('sort',column);
            }else{
                currentUrl.searchParams.set('sortMode',sortMode==1? -1 : 1);
            }
            window.location.href=currentUrl;
            // Implement your sorting logic here
        }


        function pagination(n){
            window.location.pathname= '/'+n;
        }

        function nextPage(){
            console.log(window.location.pathname);
            let n = parseInt(window.location.pathname.split('/')[1])+1;
            window.location.pathname= '/'+n;
        }

        function prevPage(){
            console.log(window.location.pathname);
            let n = parseInt(window.location.pathname.split('/')[1])-1;
            window.location.pathname= '/'+n;
        }


    </script>
</body>
</html>