<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            border: 1px solid black;
            margin: 0px;
            padding: 10px;
        }
        th{
            font-weight: bold;
        }
        table{
            gap: 0px;
            text-align: center;
            margin-left: 15%;
        }
    </style>
</head>
<body>
    <h1>Hii</h1>
    <!-- <p>Total Results = <%=data.totalResults %></p> -->
    <table>
        <tr>
            <td>CVE ID</td>
            <td>Identifier</td>
            <td>Published Date</td>
            <td>Last Modified Date</td>
            <td>Status</td>
        </tr>

        <% for(v of data){ %>
            <tr onclick="handleClick('<%= v.id %>')">
                <td><%= v.id %></td>
                <td><%= v.sourceIdentifier %></td>
                <td><%= v.published.toLocaleString() %></td>
                <td><%= v.lastModified.toLocaleString() %></td>
                <td><%= v.vulnStatus %></td>
            </tr>
       <% } %>

    </table>
    <script>
        async function handleClick(id){
            // await fetch(`/cves/${id}`)
            window.location.href=`/cves/${id}`;
        }
    </script>
</body>
</html>